<div class="main-container">
  <div class="search">
    <input
      class="searchTerm"
      type="text"
      name="searchTerm"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
  </div>
  <div class="flex-container">
    <app-figure
      *ngFor="
        let figure of data
          | searchFilter: searchTerm
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
      [figure]="figure"
    ></app-figure>

    <span *ngIf="!(data | searchFilter: searchTerm).length"
      >No data preset as per search input</span
    >
  </div>
  <div class="paginator">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
