.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: center;
}

button:hover {
  background: #0b7dda;
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  margin: auto;
  border: 1px solid grey;
  width: 100%;
  background: #f1f1f1;
}

.search {
  margin: auto;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 20px;
  margin: auto;
}
